.cardContainer {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: sticky;
  top: 0px;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -25%;
    /* height: 500px;
    width: 1000px; */
    border-radius: 24px;
    transform-origin: top;

    .body {
      /* display: flex; */
      height: 100%;
      /* gap: 20px; */
      .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      .imageContainer {
        position: relative;
        /* width: 60%; */
        width: auto;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
        /* .inner {
          width: 100%;
          height: 100%;
        } */
        img {
          object-fit: cover;
        }
      }
    }
  }
}

.lottie {
  width: 330px;
  height: 330px;
}

.lottie-shadow {
  position: relative;
  bottom: 148px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 54px;
  border: none;
  background: linear-gradient(to top, #ffffff, rgba(255, 0, 0, 0));
  pointer-events: none;
}

#kiwi-container {
  height: 234px;
  left: 27%;
  transform: translateX(-50%);
  overflow: hidden;
  position: relative;
}

@media (min-width: 524px) and (max-width: 745px) {
  .lottie {
    width: 275px;
    left: 17px;
    height: 275px;
    top: 36px;
  }

  .lottie-shadow {
    bottom: 94px;
  }
}

@media (max-width: 523px) {
  .lottie {
    width: 210px;
    left: 0cqw;
    height: 210px;
    top: 22px;
  }

  .lottie-shadow {
    bottom: 82px;
    height: 48px
  }

  #kiwi-container {
    left: 120px;
    height: 175px;
    /* position: relative; */
  }
}
