@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.signInContainer {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcomeBox {
  background-color: #ffffff;
  padding: 1.25rem 12.813rem;
  display: flex;
  border-radius: 1.25rem;
  font-family: 'poppins, sans-serif';
}

.creativespace {
  padding: 0 0.375rem;
  display: flex;
  align-items: center;
}

.beta {
  display: flex;
  align-items: center;
}

h2 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27px;
  color: #232323;
}

/* Sign In Options */
.signInOptionDiv {
  width: 702px;
  height: 320px;
  margin-top: 12px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 32px;
}

/* Sign in word and other words */
.signTitle {
  width: 100%;
  height: 56px;
  margin-bottom: 32px;
  font-family: poppins;
}

.otherWord {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #7e7e7e;
}

.SignIn {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #232323;
}

/* User and input password  */
.signInotherOption {
  width: 638px;
  height: 168px;
  display: flex;
  /* background-color: rgb(210, 220, 20); */
}

.signInotherOption {
  display: flex;
}

.signInwithCreadeantials {
  width: 300px;
  height: 100%;
  /* background-color: darkorchid; */
}

.space {
  width: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: darkgrey; */
}

.space span {
  margin: 4px 0;
  font-family: poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #565656;
}

.lineOfSpace {
  height: 49px;
  border-left: 1px solid #dedede;
}

.inputFeild,
.inputPassword {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border-radius: 100px;
  outline: none;
  border: 1px solid #dedede;
  display: flex;
  transition: color 0.3s ease;
}

.eyePassword {
  margin: 12px 12px 12px 0;
  display: none;
  align-items: center;
}

.imageOfEmail,
.imageOfPassword {
  width: 40px;
  height: 40px;
  padding: 9px;
  margin: 4px 0 4px 4px;
}

.password_field,
.input_field {
  width: 80%;
  outline: none;
  border: none;
  font-family: poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #858585;
}

/* New styles for active state */
.inputFeild.active,
.inputPassword.active {
  border-color: #a57f28;
  color: #a57f28;
}

.inputFeild.active input,
.inputPassword.active input {
  font-weight: 500;
  color: black;
}

.inputFeild.filled input,
.inputPassword.filled input {
  color: #a57f28;
  font-weight: 500;
}

.forgotPasswordLogIn {
  height: 48px;
  display: flex;
}
.ForgetPassword {
  margin-right: 8px;
  padding: 14px 4px;
  width: 134px;
  font-family: poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a57f28;
  cursor: pointer;
}

.LetsGoBtn {
  width: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a57f28;
  color: white;
  border-radius: 100px;
  font-family: poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: width 0.3s ease;
}

.LetsGoBtn span img {
  margin-left: 4px;
  margin-top: 4px;
}

.googleMicrosoftLinkedIn {
  width: 244px;
}

.options {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 100px;
  font-family: poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  cursor: pointer;
}

.options > span {
  display: flex;
  align-items: center;
}

.options > span {
  display: flex;
  align-items: center;
  color: #565656;
}

.google,
.linkedin,
.microsoft {
  width: 32px;
  height: 32px;
  margin: 8px 6px 8px 8px;
}

.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #151207;
}

.welcom-sub-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #363532;
}

.do-not-have-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #151207;
}

.sign-in-up-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #a57f28;
}

.log-in {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.input-field {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #151207; /* Input value text color */
}

.input-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #939393; /* Placeholder text color */
}

.terms-condiiton-agree {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7c7b77;
}

.terms {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #0084ff;
}

.error-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: red;
}



.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center !important;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  width: 100%;
  padding: 12px !important;
}

.nsm7Bb-HzV7m-LgbsSe  .hJDwNd-SxQuSe .i5vt6e-Ia7Qfc .JGcpL-RbRzK {
  -webkit-border-radius: 4px;
  border-radius: 80px !important;
  box-sizing: border-box;
  -webkit-transition: background-color 0.218s, border-color 0.218s;
  transition: background-color 0.218s, border-color 0.218s;
  color: #363532 !important;
  border: 1px solid #E8E8E8 !important;
  cursor: pointer;
  font-family: 'poppins', sans-serif !important;
  font-size: 14px;
  font-weight: 400px !important;
  height: 50px !important;
  outline: none;
  overflow: hidden;
  padding:11px !important;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 132px !important;
  max-width: 132px !important;
}

@media(max-width:412px){
  .nsm7Bb-HzV7m-LgbsSe{
    width: 93px !important;
  }
  .nsm7Bb-HzV7m-LgbsSe-BPrWId{
    display: none !important;
  }
}